@import '../index.scss';

.BSC-header {
  height: $header-height;
  width: 100vw;
  &.MuiPaper-rounded {
    border-radius: unset;
    display: flex;
    padding: 10px;
  }
}

.BSC-content {
  display: flex;
  flex-wrap: wrap;
}
