@import '../index.scss';

.BSC-header {
  height: $header-height;
  width: 100vw;
  &.MuiPaper-rounded {
    border-radius: unset;
  }
}

.BSC-content {
  display: flex;
  /*margin-top: $header-height;*/
  flex-wrap: wrap;
}
