@import '../../index';

.BSCCreateNote {
  width: $note-width;
  height: $note-height;
  opacity: 71%;
  &.MuiButton-root {
    padding: 0;
    font-size: 100px;
    color: $base-color;
    background-color: $white;
    flex-wrap: wrap;
  }
  &.MuiButtonBase-root {
    margin: 20px;
  }
}
